<div class="container">
    
    <div class="div1" data-aos="fade">1</div>
    <div class="div1" data-aos="fade-up">2</div>
    <div class="div1" data-aos="fade-down">3</div>
    <div class="div1" data-aos="fade-left"> 4</div>
    <div class="div1" data-aos="fade-right">5 </div>
    <div class="div1" data-aos="fade-up-right">6 </div>
    <div class="div1" data-aos="fade-up-left"> 7</div>
    <div class="div1" data-aos="fade-down-right"> 8</div>
    <div class="div1" data-aos="fade-down-left"> 9</div>
    <div class="div1" data-aos="flip-up">10 </div>
    <div class="div1" data-aos="flip-down"> 11</div>
    <div class="div1" data-aos="flip-left"> 12</div>
    <div class="div1" data-aos="flip-right"> 13</div>
    <div class="div1" data-aos="slide-up"> 14</div>
    <div class="div1" data-aos="slide-down "> 15</div>
    <!-- <div class="div1" data-aos="slide-left"> 16</div>
    <div class="div1" data-aos="slide-right"> 17</div> -->
    <div class="div1" data-aos="zoom-in"> 18</div>
    <div class="div1" data-aos="zoom-in-up"> 19</div>
    <div class="div1" data-aos="zoom-in-down">20 </div>
    <div class="div1" data-aos="zoom-in-left">21 </div>
    <div class="div1" data-aos="zoom-in-right"> 22</div>
    <div class="div1" data-aos="zoom-out"> 23</div>
    <div class="div1" data-aos="zoom-out-up"> 24</div>
    <div class="div1" data-aos="zoom-out-down "> 25</div>
    <div class="div1" data-aos="zoom-out-left">26 </div>
    <div class="div1" data-aos="zoom-out-right">27 </div>
    <!-- <div class="div1" data-aos="top-bottom"> 28</div>
    <div class="div1" data-aos="top-center"> 29</div>
    <div class="div1" data-aos="top-top"> 30</div>
    <div class="div1" data-aos="center-bottom"> 31</div>
    <div class="div1" data-aos="center-center"> 32</div>
    <div class="div1" data-aos="center-top"> 33</div>
    <div class="div1" data-aos="bottom-bottom"> 34</div>
    <div class="div1" data-aos="bottom-center"> 35</div>
    <div class="div1" data-aos="bottom-top"> 36</div>
    <div class="div1" data-aos="linear"> 37</div>
    <div class="div1" data-aos="ease"> 38</div>
    <div class="div1" data-aos="ease-in"> 39</div>
    <div class="div1" data-aos="ease-out"> 40</div>
    <div class="div1" data-aos="ease-in-out"> 41</div>
    <div class="div1" data-aos="ease-in-back"> 42</div>
    <div class="div1" data-aos="ease-out-back"> 43</div>
    <div class="div1" data-aos="ease-in-out-back"> 44</div>
    <div class="div1" data-aos="ease-in-sine"> 45</div>
    <div class="div1" data-aos="ease-out-sine"> 46</div>
    <div class="div1" data-aos="ease-in-out-sine"> 47</div>
    <div class="div1" data-aos="ease-in-quad"> 48</div>
    <div class="div1" data-aos="ease-out-quad"> 49</div>
    <div class="div1" data-aos="ease-in-out-quad"> 50</div>
    <div class="div1" data-aos="ease-in-cubic"> 51</div>
    <div class="div1" data-aos="ease-out-cubic"> 52</div>
    <div class="div1" data-aos="ease-in-out-cubic"> 53</div>
    <div class="div1" data-aos="ease-in-quart"> 54</div>
    <div class="div1" data-aos="ease-out-quart"> 55</div>
    <div class="div1" data-aos="ease-in-out-quart"> 56</div> -->

</div>